<div class="container" dir="rtl">
    <button id="return">بازگشت به صفحه اصلی</button>
    <h2>پرس‌وجوی گسترش‌یافته: «{{ result.expanded_query }}»</h2>
    <br>
    <br>
    <br>
    <h2>نتایج برای پرس‌وجو: «{{ result.query }}»</h2>
    {% for answer in result.answers %}
        <div class="card">{{ answer }}</div>
    {% endfor %}
    <br>
    <br>
    <br>
    <h2>نتایج برای پرس‌وجوی گسترش‌یافته: «{{ result.expanded_query }}»</h2>
    {% for answer in result.expanded_answers %}
        <div class="card">{{ answer }}</div>
    {% endfor %}

</div>
<script>
    document.getElementById('return').addEventListener('click', (e) => {
        e.preventDefault()
        window.location.href = '/'
    }, false)
</script>
<style>
    .card {
        border: 1px solid navy;
        border-radius: 8px;
        padding: 8px;
        margin: 4px;
        width: 800px;
        text-align: center;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
